body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}
section{
    margin:0px 0px 100px 0px;
  
    
}
#introduction{
    display: flex;
    margin-left: 40px;
}
.introduction-description{
    width:50%;
    margin-top:120px;
}
.introduction-description h1{
    font-size:60px;
    margin:0;
    padding:0;
    color:rgb(87,87,87);
}
.introduction-description span{
    color:#ff5c47;
}
.introduction-description p{
   color:rgb(138,139,138);
   width: 70%;
  
}
#only-margin{
    margin-top: 40px;
}
.introduction-image{
    width: 50%;
}
.introduction-image img{
    width: 90%;
}
.Button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right,#FB8D48,#FE5131);
    padding:20px 45px;
    border-radius: 40px;
    margin-top:50px;   
}
.margin-of-button{
    margin-top:80px;
}
#About-Us{
    display:flex;
    margin-left:0px;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position-x: -45px;
}
.About-Us-Image{
    width:40%;
    margin-left: 10%;
}
.About-Us-Image img{
    width:55%;
}
.About-Us-Description{
    width:40%;
    margin-right: 10%;
}
.About-Us-Description h1{
    color:#707070;
    font-size:40px;
}
.About-Us-Description p{
    color:#707070;
}
#My-Recipies{
    padding:0% 5%;
}
.Recipies-heading{
    text-align: center;
    
}
.Recipies-heading h1{
    font-size:40px;  
    color: #707070;
}
.Recipies-heading p{
    width:40%;
    margin:0 auto;
    color: rgb(138,139,138);
}
.Parent{
    display: flex;
    margin-top:40px;
    justify-content: space-between;

}
.recipies{
    width:27%;
    padding: 1%;
    border-radius: 8px;
    box-shadow: 0px 0px 30px 0px lightgrey;

}
.recipies img{
    width: 100%;
}
.recipies h3{
    color: #18191E;
    font-size: 26px;
}
.recipies p{
    color:#191A1F;
}
#Diet{
    display: flex;
}
.diet-image{
    width: 50%;  
}
.diet-image img{
    width:90%;
}
.diet-description{
    width:50%;
}
.diet-description h1{
    font-size:50px;
    margin:0;
    color: #707070;
}
.diet-description ul li a{
    text-decoration: none;
    color: tomato;
    font-weight: bold;
}
.diet-description ul li{
    line-height: 200%;
}
#cookingclass{
    padding: 0 10%;
}
.cookingclass-description{
    text-align: center;
}
.cookingclass-description h1{
    font-size: 45px;
    color:#18191E;
    margin:0;
}
.subscription-plan-parent{
    display: flex;
    justify-content: space-between;
}
.subscription-plan{
    width: 24%;
    padding: 3%;
    box-shadow: 5px 5px 20px grey;
   
}
.subscription-plan h1{
    color: tomato;
    font-size:30px;
}
.subscription-plan sub{
    font-size: 16px;
}
.subscription-plan ul{
    margin:0;
    padding:0;
}
.subscription-plan ul li{
    color: darkblue;
    line-height: 200%;
    font-weight: 600;
}

.subscription-plan a{
    background-image: linear-gradient(to right,#FB8D48,#FE5131);
    padding:5px 20px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    font-weight: 500;

}
#social-info{
    display: flex;
    padding:0% 20%;
    justify-content: space-between;
}
#social-info h2{
    color: #18191E;
    font-size: 40px;
    margin:0;
    padding: 0;
}
#social-info p{
    color:#191920;
}
footer{
    text-align: center;
    background-color: #0A0D16;
    height: 40vh;
}
#orange{
    color: #FB9A4D;
}
#grey{
    color:#5B5B5B;
}
footer h1{
    font-size:50px;
    word-spacing: 10px;
}
footer p{
    color: white;
    font-weight: 200;
}
